.tabs__tab-button {
  width: 100%;
  height: 58px;
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 1.12;
  color: #848484;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  opacity: 1;
}

.tabs__tab-button:hover {
  opacity: .8;
}
