.button_place_vacancy-tabs {
  width: auto;
  height: 42px;
  margin-left: 40px;
  font-size: 36px;
  line-height: 1.16;
  border-bottom: 3px solid #262626;
  border-radius: 0px;
  background-color: transparent;
}
