.form-tel__title {
  font-family: 'YS Text', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.18;
  color: #000;
  margin: 0 0 5px;
  max-width: 300px;
  width: 100%;
}
