.gallery__slide-author-profession {
  font-family: 'YS Text', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  max-width: 212px;
  color: #00000080;
  margin: 0;
}
