.tasks__link {
  width: 100%;
  margin-top: 30px;
  padding: 16px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #acacac;
  font-size: 22px;
  line-height: 1.23;
}

.tasks__link:hover {
  opacity: .8;
}

.tasks__link:active {
  scale: 1.03;
}
