.expert {
    margin: 100px auto 0;
    max-width: 1110px;
    width: 100%;
    position: relative;
    background-image: url(../../images/arrow2.svg);
    background-repeat: no-repeat;
    background-position: left 620px bottom 143px;
  }

  .expert:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 126px;
      left: 175px;
      z-index: -1;
      background: url(../../images/arrow1.svg) no-repeat;
      /* background-size: 316px 108px; */
      transform: rotate(1deg);
     }
  
  .expert__title {
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 155px;
  }
  
  .expert__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .expert__item {
    display: flex;
    width: 350px;
    height: 150px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    margin: 0 0 150px 0;
    padding: 0;
    background: rgba(0,0,0,0);
    justify-content: space-around;
  }
  
  .expert__item-header {
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
  
  }
  
  .expert__item-text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  margin: 100px auto 0;
  max-width: 1110px;
  width: 100%;
}
