.tasks__item {
  width: 100%;
  min-height: 484px;
  padding: 45px 18px 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d9d9d9;
}

.tasks__item:last-of-type {
  background: #d9d9d9 url(../../../images/question.svg) no-repeat center 60% / cover;
  background-size: 55px 150px;
}
