.start-screen__title {
  max-width: 650px;
  width: 100%;
  font-family: 'YS Text', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 0.96;
  color: #fff;
  margin: 0 0 23px 0;
}
